body{
    background-color: burlywood; color: rgb(0, 0, 0);
}

img {
    width: 350px;
    height: 350px;
    border-radius: 0%;
    border: 5px solid rgb(95, 69, 14);
}

 .right {
    text-align: center;
 }